<navbar (filterPhrase)="updatePhrase($event)"></navbar>

<section class="tiles-section"
         *ngIf="searchResults?.albums?.items?.length">
  <header>
    <h1>Albums {{filterPhrase}}</h1>
    <h2>{{searchResults.albums.items.length}} found</h2>
  </header>
  <div class="tiles-container">
    <album-item
      *ngFor="#album of searchResults.albums.items
              | phraseFilter:'name':filterPhrase
              | orderBy:'name'"
      [item]="album">
    </album-item>
  </div>
</section>

<section class="tiles-section"
         *ngIf="searchResults?.artists?.items?.length">
  <header>
    <h1>Artists</h1>
    <h2>{{searchResults.artists.items.length}} found</h2>
  </header>
  <div class="tiles-container">
    <artist-item
      *ngFor="#artist of searchResults.artists.items
              | phraseFilter:'name':filterPhrase
              | orderBy:'name'"
    >
      <img *ngIf="artist.images.length"
           src="{{artist.images[0].url}}"
           width="128">
      {{ artist.name }}
    </artist-item>
  </div>
</section>

<section class="table-section"
         *ngIf="searchResults?.tracks?.items?.length">
  <header>
    <h1>Tracks</h1>
    <h2>{{searchResults.tracks.items.length}} found</h2>
  </header>
  <track-item-list [tracks]="searchResults.tracks.items
                            | phraseFilter:'name':filterPhrase
                            | slice:0:5
                            | orderBy:'name'">
  </track-item-list>
</section>
